@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared style */

  .display-flex {
    display: flex;

  }
  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
  }
  main > section{
    margin-top: 130px;

  }
  .normal-text .banner-description{

  }



  /* dark-2  */
  .text-gray   {
    color: #424242;
  }
  /* dark 3  */
  .text-light-gray, .quick-list{
    color: #727272;
  }
  .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }

  /* header style  */

  /* navbar related style   */
  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    
    
  }
  .nav-links{
    text-decoration: none;
    font-weight: 500;
    
   
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px ;

  }
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
  }
  .banner-image{
    width: 100%;
  }

  /* main area  */
  .team-image-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
  }
  .teams{
    align-items: center;
  }
  .team-feature{
    
    margin-left: 70px;
    max-width: 540px;
    
  }
  .team-feature h1{
    font-size: 2.8rem;
  }
  .quick-list{
    font-weight: 450;
  }
  .team-font-features{
    color: rgba(255, 144, 14, 1);
  }
  /* some facts related style  */
  .some-fact{
    margin: 0 auto;
    
    
    
  }

  .section-title{
    font-size: 2.8rem;
    font-weight: 800;
    justify-items: center;
  }

  .facts-description{
    max-width: 542px;
    height: 52px;
    justify-items: center;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin:0 auto;
    justify-items: center;
  }
  .fact-card{
    border: 1px solid #FF900E;
    text-align: center;
    width: 240px ;
    height: 240px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .fact-number{
    font-size: 2.8em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

  }
  /* our sponsors  */
  .sponsor-heading{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-heading h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .sponsor-logo{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    justify-content: center;
    max-width: 1440px;
    height: 100px;
    
  }
  .sponsor-logo img{
    filter: grayscale(100%);
  }
  



  /* responsive medea qwery  */
  @media screen and (max-width:576px) {
    .navbar , .nav-links , .teams  {
      flex-direction: column;
      
    }
    .teams{
      flex-direction: column-reverse;
    }
    .team-feature{
      margin-left: 20px;
    }
    .team-image-container, .facts-container , .sponsor-logo{
      grid-template-columns: repeat(1 , 1fr);
      margin-top: 30px;

    }
    .facts-container , .sponsor-logo{
     justify-items: center;
      gap: 25px;
    }

    
  }
  @media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
      flex-direction: column;
    }
    .facts-container , .facts-container {
      justify-items: center;
    }
    .team-feature{
      margin-left: 50px auto;
    }
    .team-image-container{
      width: 100%;
    }
    .facts-container , .team-image-container{
      grid-template-columns: repeat(2 , 1fr);
      gap: 20px;
    }
    .sponsor-logo{
      grid-template-columns: repeat(3 , 1fr);
    }
    
  }